<ul id="navbar-factions" class="nav nav-pills nav-justified hidden-xs">
    <li role="presentation">
        <a href="{{ path('faction_page',{faction_code:'earth'}) }}">
            <svg class="icon-wb icon-earth"><use xlink:href="#icon-earth"></use></svg>
            <span class="hidden-sm">Earth Guild</span>
        </a>
    </li>
    <li role="presentation">
        <a href="{{ path('faction_page',{faction_code:'moon'}) }}">
            <svg class="icon-wb icon-moon"><use xlink:href="#icon-moon"></use></svg>
            </span> <span class="hidden-sm">Moon Guild</span>
        </a>
    </li>
    <li role="presentation">
        <a href="{{ path('faction_page',{faction_code:'stars'}) }}">
            <svg class="icon-wb icon-stars"><use xlink:href="#icon-stars"></use></svg>
            </span> <span class="hidden-sm">Stars Guild</span>
        </a>
    </li>
    <li role="presentation">
        <a href="{{ path('faction_page',{faction_code:'void'}) }}">
            <svg class="icon-wb icon-void"><use xlink:href="#icon-void"></use></svg>
            </span> <span class="hidden-sm hidden-md">Void Guild</span>
        </a>
    </li>
</ul>
