<div class="main container">
    <h1 class="site-title hidden-xs">WorldbreakersDB</h1>
    <div class="site-slogan">Deckbuilder and card database for the Worldbreakers customizable card game</div>
</div>
