<div class="main container">
    <div class="site-title hidden-xs">
        <img src="{{ asset('/worldbreakersdb-logo.svg') }}" alt="WorldbreakersDB">
    </div>
    <div class="site-slogan">Deckbuilder and card database for the Worldbreakers customizable card game</div>
</div>
