{% extends '/layout.html.twig' %}

{% block title %}WorldbreakersDB Search Syntax{% endblock %}

{% block body %}
<div class="container">

  <h1>{{ block('title') }}</h1>

  <ul>
    <li>a search string is a conjunction of one or more <b>conditions</b> separated by one or more spaces</li>
    <li>a <b>condition</b> is either:
      <ul>
        <li>a <b>word</b> or <b>expression</b> or <b>disjunction</b></li>
        <li>a <b>criteria</b> followed by an <b>operator</b> followed by a <b>word</b> or <b>expression</b> or <b>disjunction</b>
      </ul>
        </li>
        <li>a <b>word</b> must match <code>/[\w\-]/</code>: letters, numbers, dashes</li>
        <li>an <b>expression</b> is any text between <code>"</code> (double quotes)</li>
        <li>a <b>disjunction</b> is several <b>words</b> or <b>expressions</b> separated by <code>|</code></li>
        <li>a <b>criteria</b> is a single letter:
          <ul>
            <li><code>_</code> &ndash; title</li>
            <li><code>x</code> &ndash; text</li>
            <li><code>f</code> &ndash; flavor text</li>
            <li><code>e</code> &ndash; set</li>
            <li><code>t</code> &ndash; type</li>
            <li><code>g</code> &ndash; guild</li>
            <li><code>k</code> &ndash; traits</li>
            <li><code>i</code> &ndash; illustrator</li>
            <li><code>c</code> &ndash; cost</li>
            <li><code>s</code> &ndash; strength</li>
            <li><code>h</code> &ndash; health</li>
            <li><code>r</code> &ndash; release date</li>
          </ul>
        </li>
        <li>an <b>operator</b> is either:
          <ul>
            <li><code>:</code> &ndash; equals</li>
            <li><code>!</code> &ndash; different from</li>
            <li><code>&lt;</code> &ndash; less than</li>
            <li><code>&gt;</code> &ndash; more than</li>
          </ul>
        </li>
        <li><b>Title</b> - If you enter text with no criteria, it will attempt to match against card titles. The only exceptions are:
          <ul>
            <li>Two-or more letters in all capitals will attempt to match cards by acronym (e.g. <code>PP</code> will match Pernicious Powder and Polo's Portraitist.)</li>
            <li>Writing the ID number of a card will match that card specifically (e.g. <code>01102</code> will match Silkworm Terrarium)</li>
          </ul>
        </li>
        <li><b>Guild</b> <code>g</code> accepts full guild codes (e.g. earth, moon, stars, void) or the following shortcuts:
          <ul>
            <li>The first letter of each guild</li>
            <li><code>-</code> or <code>neutral</code> for neutral cards</li>
          </ul>
        </li>
        <li><b>Release Date</b> <code>r</code> is a special case using only the operators <code>&lt;</code> (inclusive) and <code>&gt;</code> (exclusive) and only understands the arguments <code>now</code> or a date YYYY-MM-DD</li>
  </ul>

  <h2>Search examples</h2>

  <ul>
    <li><code>mine</code> or <code>_:mine</code> searches for cards "test" in their title</li>
    <li><code>MF</code> searches for cards with the acronym "MF" (Mythium Fund)</li>
    <li><code>_:a _!b</code> searches for cards with "a" in their title but not "b"</li>
    <li><code>t:event</code> searches for all Events</li>
    <li><code>t:event k:subterfuge</code> searches for every Event that has the trait Subterfuge</li>
    <li><code>x:"reveal cards"</code> searches for all cards with the text "reveal cards"</li>
    <li><code>t:event|location g:moon</code> searches for all Events and Locations from the Moon Guild</li>
    <li><code>g:moon|earth c&lt;3</code> searches for all Moon and Earth Guild cards with a cost less than 3</li>
    <li><code>t:event k!resource|mining</code> searches for all Events that are neither Resource nor Mining</li>
  </ul>

</div>
{% endblock %}
