body {font-size:16px;font-family: 'LatoWeb', sans-serif;}

.social{color:darkgray}
.social>div>a, .social>div>span{margin:0 10px}

/* classes .card-* used in card pages, card modal, card tip */
.pack-future, .card-preview{color:red}

.card-title {
    font-size: 125%;
    position: relative;
    z-index: 10;
    margin-right: 15px;
}

.card-cost {
    font-size: 125%;
    display: flex;
    justify-content: space-between;
}

.card-cost .card-cost-mythium {
    white-space: nowrap;
}

.card-cost .card-standing-requirements {
    margin-left: 8px;
    font-size: 16px;
    width: 1em;
}

.card-text {
    border-left: 2px solid #888;
}

.card-text sup {
    line-height: 0;
    font-size: x-small;
}

.card-text p {
    margin: 6px;
}

.card-flavor {
    font-style: italic;
    font-size: 0.8em;
}

.card-text::before,
.card-flavor::before,
.card-illustrator::before,
.card-signature-cards::before,
.card-location-stages::before,
.card-worldbreaker::before
{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 95%;
    content: "";
    margin: 5px auto;
    display: block;
}

.card-flavor em {
    font-style: normal;
}

.card-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}

#push{clear:both}
.type-icon,.faction-icon{vertical-align:text-bottom}
.icon-fw {
  width: 20px;
  display: inline-block;
  text-align: center;
}

#tag_toggles button {margin:0 1px 1px 0}
.label {margin:0 1px 1px 0}

.admin{stroke:deeppink;color:deeppink !important;border-color:deeppink}

.qtip-nrdb{min-width: 310px;max-width:350px;font-size:85.7%}
.qtip-nrdb .card-image { float: right;height:90px;width: 101px; background-size:120px;background-repeat: no-repeat; margin: 5px 0px;position: relative}
.qtip-nrdb .card-image svg { position: relative; top: -1px; left: -1px; height:92px;width: 103px }


article.rules aside{border-left:1px solid blue;padding-left:20px}
article.rules span.anr{font-style:italic;white-space:nowrap}
article.rules{border-top:1px dashed black;clear:both}
article.tsr ol{list-style:none}
article.tsr em{text-transform:uppercase;font-weight:bold;font-style:normal}
article.rules nav.inner{float:right;border-left:1px solid red;border-bottom:1px solid red;margin-left:20px}

html,body{height:100%;background:lightgray}
#wrapper{background:white;padding-bottom:50px;border-bottom:1px solid silver;}
footer{padding:50px 0;color:darkgray}
.color-corp{color:blue}
.color-runner{color:red}
.fake-inline-button{white-space:nowrap}
.jumbotron{/*box-shadow:-1px 1px 4px*/border:1px solid silver;border-width:1px 0px}
textarea{resize:vertical}
tbody#decks{cursor:pointer}
#deck-content { margin-bottom: 3rem; }
#deck-content img{height:15px;vertical-align:text-bottom}
.type,.faction{text-align:center}
.nav-tabs{margin-bottom:15px}
tbody .btn-group{white-space:nowrap}
/* .btn-group>.btn,.btn-group-vertical>.btn{float:none;display:inline-block} */
.dropdown-controls input[type=checkbox]{margin:-4px 8px 0 -6px}
.dropdown-controls label{margin:0}
#collection td{vertical-align:middle}

.decklist .comment-date{color:lightgray;float:right}
.decklist .comment-text{clear:right;font-size:93%;}
.decklist blockquote {margin-bottom:1em;}
.decklist blockquote p {font-size:100%;}
.decklist h1{border-bottom:1px solid lightgray}
.decklist h1 img{vertical-align:text-top;margin-right:10px}
.social-icon-like{color:red}
.social-icon-favorite{color:orange}
.social-icon-comment{color:green}
#table-similar td{color:darkgray}
#table-similar td:hover{color:black}
.social-icon-like:hover{color:red}
.social-icon-favorite:hover{color:orange}
.social-icon-comment:hover{color:green}
.decklist-identity-image img{height:64px}
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th{background-color:rgba(0,0,0,0.05)}
#collection-grid .col-sm-6 .media {margin-bottom:10px;padding-bottom:10px;border-bottom:1px dashed lightgray;overflow:hidden;}
#collection-grid .col-sm-6 .media-object {height:100px}
#collection-grid .col-sm-6 .media-heading {line-height:50px;white-space:nowrap}
#collection-grid .col-sm-4 .media {margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted lightgray;overflow:hidden;}
#collection-grid .col-sm-4 .media-object {height:70px}
#collection-grid .col-sm-4 .media-heading {line-height:30px;white-space:nowrap}

.twitter-typeahead{width:100%}
.twitter-typeahead .tt-hint{color:#aaa;margin-left:11px;margin-top:4px}

.twitter-typeahead .tt-hint {
  display: none;
}
.twitter-typeahead .tt-query {
  margin-bottom: 0;
}

.tt-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

#deck-description > h1 {
  font-size: 24px;
  font-family: inherit;
  border: none;
}
#deck-description > h2 {
  font-size: 20px;
}
#deck-description > h3 {
  font-size: 18px;
}

#index_page .section {
  color: crimson;
}
.deck-list-group-item {
  box-sizing: content-box;
  min-height: 80px;
}
.deck-list-group-item.selected {
  background: #eee !important;
}
.deck-list-group-item div.deck-list-identity-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50% 25%;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
#deck_browser {
  margin: 10px 0;
  width: 100%;
}
#deck_browser_left {
  direction: ltr;
  width: 1%;
  white-space: nowrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
#deck_browser_center {
  text-align: center;
  background: white;
}
#deck_browser_right {
  direction: rtl;
  width: 1%;
  white-space: nowrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
#deck_browser div {
  width: 10px;
  overflow: visible;
  display: inline-block;
  position: relative;
}
.deck_browser_150 div {
  height: 150px;
}
.deck_browser_300 div {
  height: 300px;
}
#deck_browser_left div {
  -webkit-transform: translateZ(1px) translateX(1px) rotateY(40deg);
  -ms-transform: translateZ(1px) translateX(1px) rotateY(40deg);
  transform: translateZ(1px) translateX(1px) rotateY(40deg);
  -webkit-transform-origin: 0 75px;
  -ms-transform-origin: 0 75px;
  transform-origin: 0 75px;
}
#deck_browser_center div {
  width: auto;
  z-index: 1;
}
#deck_browser_center div img {
  box-shadow: 0 0 20px 10px white;
}
#deck_browser_right div {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
  -ms-transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
  transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
}
#deck_browser div img {
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
}
#deck_gallery { width: 100%; table-layout: fixed; border-collapse: collapse; overflow: hidden }
#deck_gallery td { padding: 0 }
#deck_gallery td > div { height: 100px; overflow: visible; position: relative }
#deck_gallery td > div > img { height: 100% ; border: 1px solid white; border-radius: 10px;}
#deck_gallery td > div > div { background: rgba(0, 0, 0, 0.5); position: absolute; left: 1px; bottom: 1px; color: white; width: 24px; height: 24px; line-height: 24px; font-size: 16px; font-weight: bold; text-align: center; border-radius: 15px; font-family: monospace }

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
.cell-indent {
  text-indent: 25px;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}
div.no-image {
  border:1px solid silver;
  border-radius:20px;
  max-width:300px;
  position:relative;
}
div.no-image:before {
  content: "";
  display: block;
  padding-top: 140%;
}
div.no-image-text {
  line-height:20px;
  height:20px;
  overflow:auto;
  margin:auto;
  top:0;
  bottom:0;
  width:100%;
  position:absolute;
  text-align:center;
}

#list article.review {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #ddd;
}
#index_page article.review {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
}
article.review:first-child {
  margin-top: 0 !important;
}
article.review .review-like { float:left; font-size: 120%; width:50px }
article.review .review-content { margin-left: 50px }
article.review .review-text :first-child { margin-top: 0px }
article.review .review-date { clear: both; text-align: right }
article.review .review-latestpack { clear: both; text-align: right }
article.review .review-author { text-align: right }
article.review .review-comment { border-top: 1px solid #ddd; padding: 0.5em; }
@media (min-width: 992px) {
  #recent_decklists, #recent_reviews {
     border-left:1px solid #ddd;
  }
}
div.ad {
  display: none;
  text-align: center;
  margin: 25px auto;
}
div.ad-blocked {
  background: #eee;
  background: -moz-linear-gradient(top, #ffe5e5 0%, #e5e5ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe5e5), color-stop(100%,#e5e5ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffe5e5 0%,#e5e5ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffe5e5 0%,#e5e5ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffe5e5 0%,#e5e5ff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffe5e5 0%,#e5e5ff 100%); /* W3C */
  border-style: solid;
  border-width: 1px 0px;
  border-color: red blue blue red;
  padding: 10%;
  font: 30px/40px sans-serif;
  text-align: center;
  margin: auto;
}
.navbar-brand {
  position: relative;
}
.navbar-brand span.icon:nth-child(2) {
  position: absolute;
  left: 15px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover {
  background: grey;
  color: black;
  text-shadow: 0px 0px 5px #ccc;
}
.navbar-brand .icon {
  font-size: 120%;
  line-height: 83%;
}
.navbar-brand:hover .icon-link-half-top {
  color: brown;
}
.navbar-brand:hover .icon-link-half-bottom {
  color: mediumblue;
}

#navbar-factions {
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: #f8f8f8;
}
.dropdown-menu {
  z-index: 1060 !important;
}
.dropdown-menu input[type=text].form-control {
  width: auto;
  margin: 2px 10px;
}
.btn-ghost{
  background: transparent;
  color: inherit;
}
span.label-as-badge {
  border-radius: 1em;
}

span.champion {
  font-style: normal;
  font-weight: bold;
}

img[data-src] {
  font-weight: bold;
  color: #337ab7;
  cursor: pointer;
}

ul.msl-entries-list blockquote {
  font-size: inherit;
  padding: 5px 10px;
}

ul.rulings-list blockquote {
  font-size: inherit;
  padding: 5px 10px;
}

.search-example {
  border: 1px solid #888;
  font-family: monospace;
  padding: 0 2px;
}

/*** screen reader fallback ***/
.icon-fallback {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/******** fix for twitter typehead + bootstrap input-group-btn ***********/

.input-group .twitter-typeahead {
  top: 3px;
}
.input-group .twitter-typeahead:last-child input.form-control.tt-input {
    border-radius: 0 4px 4px 0;
}
.input-group .twitter-typeahead:first-child input.form-control.tt-input {
  border-radius: 4px 0 0 4px;
}

/*** remove href after links caused by bootstrap ****/

@media print {
  a[href]:after {
    content: "";
  }
}

/*** worldbreaker icons ***/
.icon-wb {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

#navbar-factions svg.icon-wb {
    vertical-align: text-bottom;
}

ol.stages {
    list-style-type: upper-roman;
}

/*** list as text ***/
.card-props {
    display: flex;
    justify-content: space-between;
}

/*** list as full ***/
.card-prop {
    display: flex;
    justify-content: space-between;
}

.card-is-signature {
    margin-left: 0.25em;
    font-size: 0.8em;
}

/*** decklists ***/
.decklist-standing-req {
    margin-left: 0.5em;
    font-size: 0.75em;
    white-space: nowrap;
}

.decklist-standing-req svg {
    margin-left: 1px;
    vertical-align: -1px;
}

.packs-required .btn.dropdown-toggle {
    padding: 0;
}

/*** guild specifics ***/

.border-earth {
    border-color: #c98161;
}
.border-moon {
    border-color: #476a89;
}
.border-stars {
    border-color: #aba58b;
}
.border-void {
    border-color: #48375b;
}

.background-earth {
    background-color: #ffece6;
}
.background-moon {
    background-color: #ecf0fc;
}
.background-stars {
    background-color: #fff3e6;
}
.background-void {
    background-color: #f3eafc;
}
